<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573349502592-ub94hscodeprnpehleb70bj2q81gji2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573349502592-ub94hscodeprnpehleb70bj2q81gji2e</string>
	<key>API_KEY</key>
	<string>AIzaSyC5J_-WMztw5Q9ku5FOfJA9igVvztvNdMA</string>
	<key>GCM_SENDER_ID</key>
	<string>573349502592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inoue.talkative</string>
	<key>PROJECT_ID</key>
	<string>talkative-21c6c</string>
	<key>STORAGE_BUCKET</key>
	<string>talkative-21c6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573349502592:ios:206b4cf20f9bcae7751065</string>
	<key>DATABASE_URL</key>
	<string>https://talkative-21c6c.firebaseio.com</string>
</dict>
</plist>